.seekBar {
  position: relative;
  height: 20px;
  background: #1a1a1a;
  border-radius: 5px;
  width: 960px;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;

  .buffer, .current {
    height: inherit;
    width: 0;
    border-radius: 5px;
    pointer-events: none;
  }

  .buffer {
    position: absolute;
    background: #3a3a3a;
    z-index: -1;
  }

  .current {
    background: #f7931e;
  }
}